<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.com.hometherapy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Users"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MyExercises"
            android:label="@string/title_activity_my_exercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRewards"
            android:label="@string/title_activity_my_rewards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ClientExerciseLibrary" />
        <activity android:name=".ClientExercises" />
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyMessages"
            android:label="@string/title_activity_my_messages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyClients"
            android:label="@string/title_activity_my_clients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ExerciseView" />
        <activity
            android:name=".TestNavigation"
            android:label="@string/title_activity_test_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddExerciseToClient" />
        <activity android:name=".UserProfile" />
        <activity android:name=".ClientProfile" />
        <activity android:name=".AddExerciseToLibrary" />
        <activity android:name=".MyExercise" />
        <activity android:name=".AddEditUser" />
        <activity android:name=".Exercises" />
        <activity android:name=".Register" />
        <activity android:name=".SignIn" />
        <activity android:name=".Messaging" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name=".MyMessaging" />

        <receiver android:name=".MessageReadReceiver">
            <intent-filter>
                <action android:name="example.com.hometherapy.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MessageReplyReceiver">
            <intent-filter>
                <action android:name="example.com.hometherapy.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>