<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.com.hometherapy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".myRewards"></activity>
        <activity android:name=".userProfile" />
        <activity android:name=".clientProfile" />
        <activity android:name=".addExerciseToLibrary" />
        <activity android:name=".myExercise" />
        <activity android:name=".addEditClient" />
        <activity android:name=".addEditUser" />
        <activity android:name=".users" />
        <activity android:name=".clients" />
        <activity android:name=".exercises" />
        <activity android:name=".register" />
        <activity android:name=".signIn" />
        <activity android:name=".Messaging" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name=".MyMessaging" />

        <receiver android:name=".MessageReadReceiver">
            <intent-filter>
                <action android:name="example.com.hometherapy.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MessageReplyReceiver">
            <intent-filter>
                <action android:name="example.com.hometherapy.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>